.App {
  overflow: auto;
}

.nomatch-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .no-gif {
    width: 90vw;
    max-width: 700px;
  }
  .nomatch-info {
    text-align: center;
    width: 90vw;
    margin-top: 20px;
  }
  .safe-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #b6b6b6;
    width: 40vw;
    margin: 20px 0px;
    border-radius: 15px;

    .nomatch-button {
      text-align: center;
      font-weight: bolder;
    }
  }
}
