* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
