.secret-panel {
  margin-top: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allowed-jokes {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 15px 0px;
}

.jokes-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
}
.joke {
  text-align: center;
}

.allowed-end {
  text-align: center;
  font-size: 19px;
  margin-bottom: 20px;
}
