.mobile-navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 15vh;
  min-height: 90px;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: inherit;
  min-height: 90px;
}
.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50%;
}

.authentication-logo {
  height: 50px;
  margin-left: 15px;
}

.navbar-logo {
  position: relative;
  height: 9vh;
  min-height: 60px;
}

.sidebar-link {
  text-decoration: none;
}
.sidebar-title {
  color: #e1e1e1;
}
.sidebar-option {
  display: flex;
  align-items: center;
}

.sidebar-top-secret-panel {
  position: absolute;
  bottom: 50px;
  font-size: 20px;
}

.sidebar-footer {
  position: absolute;
  bottom: 5px;
}

.github-logo {
  height: 24px;
  width: 24px;
}

.credits {
  font-size: 16px;
}

.bm-item {
  display: inline-block;

  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #e2e2e2;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #e2e2e2;
}

.bm-menu {
  background: rgb(46, 46, 46);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap {
  top: 0px;
  right: 500px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
  .bm-burger-button {
    position: absolute;
    width: 10%;
    max-width: 60px;
    height: 40%;
    min-height: 35px;
    left: 5%;
    top: 25%;
  }
}

.switch-lang{
  position: absolute;
  bottom: 100px;
  background-color: grey;
}