.layout{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyBox{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 58px;
  max-height: 58px;
  border: 2px solid rgb(212, 212, 212);
}

.filledBox{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
  height: 100%;
  max-width: 58px;
  max-height: 58px;
  border: 2px solid rgb(212, 212, 212);
}

.gameRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: calc(60*5px);
  height: 100%;
}

.gameField{
  width: calc(60*5px);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(60*6px);
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}

.blue {
  background-color: rgb(59, 161, 245);
}

.green {
  background-color: green;
}