.usercard-container {
  width: 60vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #1d1d1d;
  margin: 10px 0px;
  border-radius: 20px;
}

.name-link {
  color: white;
}
.name-card {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  .delete-img {
    width: 60%;
    height: 40px;
    cursor: pointer;
  }
}

.delete-user {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media (min-width: 600px) {
  .usercard-container {
    width: 40vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #1d1d1d;
    margin: 10px 10px;
    border-radius: 20px;
  }
}

@media (min-width: 600px) {
  .usercard-container {
    width: 20vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #1d1d1d;
    margin: 10px 10px;
    border-radius: 20px;
  }
}
